select {

    background-color: white;

    direction: ltr;
    text-align: start;
}

input,
select {
    border: solid 1px grey;
    /* box-shadow: 0px 1px 2px #aaaaaa; */
}

input {
    appearance: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: 1s ease-out 0s 1 fade-in;
}



input[type=number] {
    -moz-appearance: textfield !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: sticky;
    right: 85%;
}