* {
  font-family: Quicksand Medium;
}
input[type=submit] {
  background-color: #9cda71;
  color: white;
  padding:5px 30px;
  border: 2px solid  #ffffff;
  border-radius: 5px;
  cursor: pointer;
  }
  input[type=submit]:hover {
   background-color: #314c2e;
   color: white;
   }
.paarynat{
  text-decoration: none;
  border: none;
}
@font-face {
  font-family: Qilka Bold;
  src: url(../media/qilka.bold.otf);
  font-weight: bold;
}
.h1 {
  text-wrap: balance;
  font-family: Qilka Bold;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  }
#nimikentta {
    border-radius: 5px;
    padding: 5px;
    opacity: 0.7;    
    border: none;
}
#tekstikentta {
    border-radius: 5px;
    padding: 5px;
    opacity: 0.7;  
    border: none;  
}
@media only screen and (max-width: 900px) {
  .msgcontainer {
    height: 100%;
    padding: 0;
  }
  nav .form-control {
    display: none;
  }
}

@media only screen and (max-width: 1080px) {
  .topimg{
     display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .msgarea .pears img{
      width: 25px;
      height: 25px;
  }
}
