* {
  font-family: Quicksand Medium;
}
@font-face {
    font-family: Qilka Bold;
    src: url(../media/qilka.bold.otf);
    font-weight: bold;
  }
  input[type=submit] {
    background-color: #9cda71;
    color: white;
    padding:5px 30px;
    border: 2px solid  #ffffff;
    border-radius: 5px;
    cursor: pointer;
    }
    input[type=submit]:hover {
     background-color: #314c2e;
     color: white;
     }
  a {
      text-decoration: none;
  }
  #bgImg {
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: sticky;
      }    
.banner {
    font-size: 8em;
    line-height: 1em;
    font-weight: 900;
    color: white;
    position:absolute;
    padding: 24px 24px ;
    font-family: Quicksand Medium;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    top:40%;
    left:10%;
    
    
  }
  .banner .h1 {
  text-wrap: balance;
  font-family: Qilka Bold;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  font-size: 50px;
  }
  .banner .h3 {
    font-family: Quicksand Medium;
    color: white;
  }
  #topbtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: 2px solid  #ffffff;
    outline: none;
    background-color: #9cda71;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  #topbtn:hover{
    background-color: #314c2e;
    color: white;
 }
 @media only screen and (max-width: 1080px) {
  .banner {
     top: 40%;
     left: 0%;
  }
  .topimg{
     display: none;
  }
}
@media only screen and (max-width: 600px) {
  nav .form-control {
  display: none;
}
}